.n-topology.n-topology-blue .label-text-color-fg {
  fill: #0386d2;
}
.n-topology.n-topology-dark .label-text-color-fg {
  fill: #00a9ff;
}
.n-topology.n-topology-green .label-text-color-fg {
  fill: #26999e;
}
.n-topology.n-topology-slate .label-text-color-fg {
  fill: #ffffff;
}
.n-topology.n-topology-yellow .label-text-color-fg {
  fill: #ffc200;
}
.n-topology.n-topology-blue .badge-color-fg {
  fill: #ffffff;
  stroke: #0386d2;
  stroke-width: 16px;
  stroke-linejoin: round;
}
.n-topology.n-topology-dark .badge-color-fg {
  fill: #00a9ff;
  stroke: #00a9ff;
  stroke-width: 16px;
  stroke-linejoin: round;
}
.n-topology.n-topology-green .badge-color-fg {
  fill: #26999e;
  stroke: #26999e;
  stroke-width: 16px;
  stroke-linejoin: round;
}
.n-topology.n-topology-slate .badge-color-fg {
  fill: #ffffff;
  stroke: #ffffff;
  stroke-width: 16px;
  stroke-linejoin: round;
}
.n-topology.n-topology-yellow .badge-color-fg {
  fill: #ffc200;
  stroke: #ffc200;
  stroke-width: 16px;
  stroke-linejoin: round;
}
.n-topology .label-text-anchor-start {
  text-anchor: start;
  alignment-baseline: text-after-edge;
}
.n-topology .label-text-anchor-end {
  text-anchor: end;
  alignment-baseline: text-before-edge;
}

.n-topology .label-link-align-start {
  text-anchor: start;
  alignment-baseline: text-after-edge;
  transform-box: fill-box;
  transform-origin: 0% 100%;
}

.n-topology .label-link-align-end {
  text-anchor: end;
  alignment-baseline: text-before-edge;
  transform-box: fill-box;
  transform-origin: 100% 0%;
}
.m-fadeOut {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 300ms, opacity 300ms;
}
.m-fadedOut {
  visibility: hidden;
  opacity: 0;
}
.m-fadeIn {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s linear 0s, opacity 300ms;
}
.popover {
  max-width: 400px;
}